<div class="min-h-screen flex items-center justify-center dark:bg-background p-4">
  <div class="w-full max-w-md">
    <div class="bg-card rounded-2xl shadow-lg border border-border p-8 space-y-6">
      <div class="flex flex-col items-center gap-4">
        <div class="bg-primary bg-primary rounded-2xl shadow-lg shadow-primary/25 p-4">
          <svg lucideBriefcase class="h-8 w-8 text-primary-foreground"></svg>
        </div>
        <div class="text-center">
          <h1 class="text-2xl font-bold text-foreground">Portfolio Admin</h1>
          <p class="text-sm text-muted-foreground mt-1">Inicia sesión en tu cuenta.</p>
        </div>
      </div>
      <form
        novalidate
        [formGroup]="validationForm"
        (ngSubmit)="handleSubmit()"
        class="max-w-sm space-y-6">
        @if (authError()) {
          <z-alert
            zType="destructive"
            zTitle="Uppsss... Hubo un error!"
            [zDescription]="customDescription"
            class="animate-in slide-in-from-top-2" />

          <ng-template #customDescription>
            <p>{{ authError() }}</p>
          </ng-template>
        }
        <div class="space-y-4">
          <div class="flex flex-col gap-2">
            <z-form-field>
              <label
                id="email"
                for="email"
                class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                z-form-label
                zRequired
                >Email</label
              >
              <div class="relative">
                <z-form-control>
                  <svg
                    lucideMail
                    class="absolute left-3 top-1/2 -translate-y-1/2 h-5 w-5 text-muted-foreground"></svg>
                  <input
                    z-input
                    type="email"
                    placeholder="name@example.com"
                    formControlName="email"
                    id="email"
                    class="h-12 pl-10 pr-4 outFocus"
                    autoComplete="email"
                    zRequired
                    [zStatus]="
                      emailControl.invalid && emailControl.touched ? 'error' : undefined
                    " />
                </z-form-control>
                <z-form-message zType="error">{{ getEmailError() }}</z-form-message>
              </div>
            </z-form-field>
          </div>
          <div class="flex flex-col gap-2">
            <z-form-field>
              <div class="flex items-center justify-between">
                <label
                  for="password"
                  id="password"
                  class="text-sm font-medium leading-none peer-disabled:cursor-not-allowed peer-disabled:opacity-70"
                  z-form-label
                  zRequired
                  >Contraseña</label
                >
                <a
                  href="javascript:void(0);"
                  class="text-xs text-primary hover:text-primary/80 hover:underline transition-colors"
                  >Olvidaste tu contraseña?</a
                >
              </div>
              <div class="relative">
                <z-form-control>
                  <svg
                    lucideLock
                    class="absolute left-3 top-1/2 -translate-y-1/2 h-5 w-5 text-muted-foreground"></svg>
                  <input
                    z-input
                    type="{{ showPassword ? 'text' : 'password' }}"
                    placeholder="Enter your password"
                    formControlName="password"
                    id="password"
                    class="h-12 pl-10 pr-4 outFocus"
                    autoComplete="current-password"
                    zRequired
                    [zStatus]="
                      passwordControl.invalid && passwordControl.touched ? 'error' : undefined
                    " />
                  <button
                    type="button"
                    (click)="showPassword = !showPassword"
                    class="absolute right-3 top-1/2 -translate-y-1/2 text-muted-foreground hover:text-foreground transition-colors cursor-pointer">
                    @if (showPassword) {
                      <svg lucideEyeOff class="h-5 w-5"></svg>
                    } @else {
                      <svg lucideEye class="h-5 w-5"></svg>
                    }
                  </button>
                </z-form-control>
                <z-form-message zType="error">{{ getPasswordError() }}</z-form-message>
              </div>
            </z-form-field>
          </div>
        </div>
        <div class="flex items-center gap-2">
          <z-form-field>
            <z-form-control class="flex flex-col">
              <div class="flex items-center space-x-2">
                <z-checkbox id="rememberMe" formControlName="rememberMe" class="outFocus" />
                <label z-form-label class="mb-0! outFocus" for="rememberMe">Recordarme</label>
              </div>
            </z-form-control>
          </z-form-field>
        </div>

        @if (isLoading()) {
          <button
            z-button
            zDisabled
            zFull
            zType="default"
            type="button"
            class="w-full h-12 text-base font-medium shadow-sm shadow-primary/25 hover:shadow-md hover:shadow-primary/30 transition-all cursor-pointer cursor-not-allowed">
            <svg lucideLoader2 class="mr-2 h-5 w-5 animate-spin"></svg>
            <span>Iniciando sesión...</span>
          </button>
        } @else {
          <button
            z-button
            zFull
            zType="default"
            type="submit"
            [zDisabled]="validationForm.invalid"
            class="w-full h-12 text-base font-medium shadow-sm shadow-primary/25 hover:shadow-md hover:shadow-primary/30 transition-all cursor-pointer disabled:cursor-not-allowed">
            <svg lucideLogIn class="mr-2 h-5 w-5"></svg>
            <span>Iniciar sesión </span>
          </button>
        }
      </form>
    </div>
    <p class="text-center text-xs text-muted-foreground mt-6">2026 - {{ year }} Portfolio Admin</p>
  </div>
</div>
