<z-header [zHeight]="55">
  <div class="flex w-full items-center justify-between">
    <div class="flex items-center text-lg font-semibold">
      <button
        type="button"
        z-button
        zType="ghost"
        zSize="sm"
        class="-ml-2 cursor-pointer flex justify-center items-center"
        (click)="toggleSidebar()">
        <ng-icon [name]="sidebarCollapsed() ? 'lucidePanelLeftOpen' : 'lucidePanelLeftClose'" />
      </button>
      <z-divider zOrientation="vertical" class="ml-2 h-4" />
      <h1 class="text-lg font-semibold">
        {{ titlePage() }}
      </h1>
    </div>
    <div class="flex items-center gap-2">
      <z-dark-mode />
    </div>
  </div>
</z-header>
