<div class="space-y-6">
  <z-breadcrumb zWrap="wrap" zAlign="start" class="mb-2">
    <z-breadcrumb-item [routerLink]="[homeRoute]">
      <ng-icon name="lucideHouse" />
      Inicio
    </z-breadcrumb-item>

    <z-breadcrumb-item [routerLink]="[baseRoute]"> Experiencias </z-breadcrumb-item>

    <z-breadcrumb-item> Agregar experiencia </z-breadcrumb-item>
  </z-breadcrumb>

  <div class="flex flex-col sm:flex-row justify-between items-start sm:items-center gap-4">
    <div>
      <h1 class="text-3xl font-bold tracking-tight">Agregar nueva experiencia</h1>
      <p class="text-muted-foreground mt-1">Añade una nueva experiencia laboral a tu portafolio.</p>
    </div>
  </div>

  <f-card cId="content" cClass="border-border/50 py-4">
    <div class="flex-1 overflow-y-auto">
      <form
        [formGroup]="form"
        (ngSubmit)="handleSubmit()"
        class="flex-1 auto-rows-min gap-6 px-4 space-y-2">
        @if (errorBack()) {
          <z-alert
            zType="destructive"
            zTitle="Uppsss... Hubo un error!"
            [zDescription]="customDescription"
            class="animate-in slide-in-from-top-2" />

          <ng-template #customDescription>
            <p>{{ errorBack() }}</p>
          </ng-template>
        }
        <div class="space-y-4">
          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="flex flex-col gap-3">
              <z-form-field>
                <label
                  for="company"
                  class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
                  z-form-label
                  zRequired>
                  Compañia
                </label>
                <z-form-control>
                  <input
                    z-input
                    id="company"
                    formControlName="company"
                    placeholder="Compañia"
                    zRequired
                    [zStatus]="
                      companyControl.invalid && companyControl.touched ? 'error' : undefined
                    "
                    class="outFocus file:text-foreground placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive flex h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:ring-[3px] disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm" />
                </z-form-control>
                <z-form-message zType="error">{{ getCompanyError() }}</z-form-message>
              </z-form-field>
            </div>

            <div class="flex flex-col gap-3">
              <z-form-field>
                <label
                  for="position"
                  class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50"
                  z-form-label
                  zRequired>
                  Posición
                </label>
                <z-form-control>
                  <input
                    z-input
                    id="position"
                    formControlName="position"
                    placeholder="Posicion"
                    zRequired
                    [zStatus]="
                      positionControl.invalid && positionControl.touched ? 'error' : undefined
                    "
                    class="outFocus file:text-foreground placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive flex h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:ring-[3px] disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm" />
                </z-form-control>
                <z-form-message zType="error">{{ getPositionError() }}</z-form-message>
              </z-form-field>
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
            <div class="flex flex-col gap-3">
              <z-form-field>
                <label
                  for="startsDate"
                  z-form-label
                  zRequired
                  class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50">
                  Fecha de inicio
                </label>
                <z-form-control>
                  <z-date-picker
                    id="startsDate"
                    [value]="form.controls.startsDate.value"
                    placeholder="Selecciona la fecha de inicio"
                    (dateChange)="onStartDateChange($event)"
                    zFormat="dd/MM/yyyy"
                    [maxDate]="maxDate"
                    zClassBtn="w-full cursor-pointer"
                    zRequired
                    zSize="default" />
                </z-form-control>
                <z-form-message zType="error">{{ getStartsDateError() }}</z-form-message>
              </z-form-field>
            </div>

            <div class="flex flex-col gap-3">
              <z-form-field>
                <label
                  for="endsDate"
                  z-form-label
                  class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50">
                  Fecha de fin
                </label>
                <z-form-control>
                  <z-date-picker
                    id="endsDate"
                    [value]="form.controls.endsDate.value"
                    placeholder="Selecciona la fecha de fin"
                    (dateChange)="onEndDateChange($event)"
                    class="cursor-pointer"
                    [maxDate]="maxDate"
                    zClassBtn="w-full cursor-pointer"
                    [disabled]="form.controls.currentPosition.value"
                    zFormat="dd/MM/yyyy" />
                </z-form-control>
                <z-form-message zType="error">{{ getEndsDateError() }}</z-form-message>
              </z-form-field>
            </div>
          </div>

          <div class="flex flex-col gap-3">
            <z-form-field>
              <z-form-control class="flex flex-col">
                <div class="flex items-center space-x-2">
                  <z-checkbox
                    id="currentPosition"
                    [zDisabled]="!!form.controls.endsDate.value"
                    formControlName="currentPosition"
                    class="outFocus" />
                  <label z-form-label class="mb-0! outFocus" for="currentPosition"
                    >Posición actual</label
                  >
                </div>
              </z-form-control>
              <z-form-message zType="error">{{ getCurrentPositionError() }}</z-form-message>
            </z-form-field>
          </div>

          <div class="flex flex-col gap-3">
            <z-form-field>
              <label
                for="description"
                z-form-label
                class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50">
                Descripción
              </label>
              <z-form-control>
                <textarea
                  id="description"
                  rows="5"
                  formControlName="description"
                  zRequired
                  [zStatus]="
                    descriptionControl.invalid && descriptionControl.touched ? 'error' : undefined
                  "
                  placeholder="Descripcion de las funcionalidades que desarrollaste en el puesto"
                  class="outFocus rounded-md border border-input bg-background px-3 py-2 text-sm ring-offset-background placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50"
                  z-input></textarea>
              </z-form-control>
              <z-form-message zType="error">{{ getDescriptionError() }}</z-form-message>
            </z-form-field>
          </div>

          <div class="flex flex-col gap-3">
            <z-form-field>
              <label
                for="skills"
                z-form-label
                class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50">
                Habilidades
              </label>
              <div class="flex flex-col gap-2">
                <div class="flex flex-wrap gap-3 {{ skills.length > 1 ? 'mb-2' : '' }}">
                  @for (skill of skills; track skill) {
                    <z-badge zType="secondary" class="px-2 py-1">
                      {{ skill }}
                      <button
                        type="button"
                        class="ml-1 text-xs hover:text-destructive cursor-pointer"
                        (click)="removeSkill(skill)">
                        <ng-icon
                          name="lucideX"
                          style="height: calc(var(--spacing) * 2) !important" />
                      </button>
                    </z-badge>
                  }
                </div>
                <div class="flex flex-col md:flex-row gap-2">
                  <div class="flex-1">
                    <z-form-control>
                      <input
                        z-input
                        id="skills"
                        placeholder="Añadir habilidad"
                        [formControl]="skillInput"
                        class="outFocus file:text-foreground placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive flex h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:ring-[3px] disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm" />
                    </z-form-control>
                    <z-form-message zType="error">{{ getSkillsError() }}</z-form-message>
                  </div>
                  <div class="flex">
                    <button
                      type="button"
                      z-button
                      zType="ghost"
                      class="cursor-pointer border border-input w-full"
                      zSize="lg"
                      (click)="addSkill()">
                      <ng-icon name="lucidePlus" class="h-4 w-4" />
                      Agregar
                    </button>
                  </div>
                </div>
              </div>
            </z-form-field>
          </div>

          <div class="flex flex-col gap-3">
            <z-form-field>
              <label
                for="achievements"
                z-form-label
                class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor-not-allowed peer-disabled:opacity-50">
                Logros
              </label>
              <div class="flex flex-col gap-2">
                <div class="flex flex-wrap gap-3 {{ achievements.length > 1 ? 'mb-2' : '' }}">
                  @for (achievement of achievements; track achievement) {
                    <z-badge zType="secondary" class="px-2 py-1">
                      {{ achievement }}
                      <button
                        type="button"
                        class="ml-1 text-xs hover:text-destructive cursor-pointer"
                        (click)="removeAchievement(achievement)">
                        <ng-icon
                          name="lucideX"
                          style="height: calc(var(--spacing) * 2) !important" />
                      </button>
                    </z-badge>
                  }
                </div>
                <div class="flex flex-col md:flex-row gap-2">
                  <div class="flex-1">
                    <z-form-control>
                      <input
                        z-input
                        id="achievements"
                        placeholder="Añadir logros"
                        [formControl]="achievementInput"
                        class="outFocus file:text-foreground placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input focus-visible:border-ring focus-visible:ring-ring/50 aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive flex h-9 w-full min-w-0 rounded-md border bg-transparent px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none file:inline-flex file:h-7 file:border-0 file:bg-transparent file:text-sm file:font-medium focus-visible:ring-[3px] disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm" />
                    </z-form-control>
                    <z-form-message zType="error">{{ getAchievementsError() }}</z-form-message>
                  </div>
                  <div class="flex">
                    <button
                      type="button"
                      z-button
                      zType="ghost"
                      class="cursor-pointer border border-input w-full"
                      zSize="lg"
                      (click)="addAchievement()">
                      <ng-icon name="lucidePlus" class="h-4 w-4" />
                      Agregar
                    </button>
                  </div>
                </div>
              </div>
            </z-form-field>
          </div>
        </div>

        <div
          class="flex flex-col-reverse md:flex-row gap-4 justify-between items-center mt-6 md:mt-4">
          <a
            [routerLink]="baseRoute"
            z-button
            zType="ghost"
            class="cursor-pointer w-full md:w-auto border border-input">
            <ng-icon name="lucideArrowLeft" class="mr-2 h-4 w-4" /> Volver atrás
          </a>

          <button
            [zDisabled]="isLoading$() || form.invalid"
            z-button
            type="submit"
            zType="default"
            class="cursor-pointer w-full md:w-auto">
            @if (isLoading$()) {
              <ng-icon name="lucideLoader2" class="animate-spin mr-2 h-4 w-4" />
              <span> Agregando experiencia </span>
            } @else {
              <ng-icon name="lucidePlus" class="mr-2 h-4 w-4" /> <span>Agregar experiencia</span>
            }
          </button>
        </div>
      </form>
    </div>
  </f-card>
</div>
